{% extends "store/main.html" %}
{% load static  %}
{% block title %}
Forgot Password
{% endblock title %}

{% block content %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Forgot Password</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">				
				<div class="col-md-12">					
                    <h2>Reset password</h2>
                    <p>I have mailed you instruction for resetting your password</p>
                    <p>if you have didn't recive it verified you entered the correct email and / or check your spam folder</p>					
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->



{% endblock %}
